<form action="/jobs/{{job['id']}}/apply" method="post">
    <label for="fname">First name:</label>
    <br>
    <input type="text" id="fname" name="fname" placeholder="Ned" >
    <br>
    <label for="lname">Last name:</label>
    <br>
    <input type="text" id="lname" name="lname" placeholder="Stark">
    <br>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" name="email" placeholder="NedStark@email.com">
    <br>
    <label for="linkedin">Linkedin:</label>
    <br>
    <input type="text" id="linkedin" name="Linkedin" placeholder="linkedin.com/in/nedstark">
    <br>
    <label for="education">Education:</label>
    <br>
    <textarea name="education"></textarea>
    <br>
    <label for="work">Work Experience:</label>
    <br>
    <textarea name="work"></textarea>
    <br>
    <label for="resume">resume url:</label>
    <br>
    <input type="text" id="resume" name="resume">
    <br>
    <input type="submit">
  </form>