<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <h1>Flask App</h1>
    <p>
        Lorem ipsum dolor 
        sit amet consectetur 
        adipisicing elit.
         Sapiente, nostrum.
    </p>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Location</th>
            <th>currency</th>
            <th>salary</th>
            <th>responsibilities</th>
            <th>requirements</th>
        </tr>
        {% for i in jobs %}
            {%include 'items.html' %}
        {% endfor %}
    </table>
</body>
</html>