<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{job.title}}</title>
</head>
<body>
    <h3>title {{job.title}}</h3>
    <p>location {{job.location}}</p>
    <p>currency {{job.currency}}</p>
    <p>salary {{job.salary}}</p>
    <p>responsibilities {{job.responsibilities}}</p>
    <p>requirements {{job.requirements}}</p>

    {% include 'form.html' %}
</body>
</html>