<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Your application for {{job['title']}} has been submitted.</p>
    <h4>Full Name</h4>
    <div>
        {{application['fname']}}
        {{application['lname']}}
    </div>
    <h4>Email</h4>
    <p>{{application['email']}}</p>
    <h4>Linkedin</h4>
    <p>{{application['Linkedin']}}</p>
    <h4>Education</h4>
    <p>{{application['education']}}</p>
    <h4>Work</h4>
    <p>{{application['work']}}</p>
    <h4>Resume</h4>
    <p>{{application['resume']}}</p>
</body>
</html>